@import 'base/reset';
@import 'base/typography';
@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'layouts/section';
@import 'layouts/container';
@import 'layouts/header';
@import 'components/btns/btn';

.main-page-intro {
  background-color: $half-light-bg;
  &__grid {
    display: flex;
    flex-direction: column;
    gap: 24px;
    @include min-992 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 64px;
    }

  }
  &__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__description {
    margin-top: 36px;
    max-width: 395px;
  }
  &__btns {
    margin-top: 24px;
    display: flex;
    gap: 24px;
    align-items: center;
  }
}
.movies-block {
  &__grid {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    @include min-992 {
      display: grid;
      grid-template-columns: 380px auto;
    }
  }
}
.movies-grid {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  @include min-992 {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);
  }
  &__loadmore {
    margin: 0 auto;
    margin-top: 48px;
  }
}
.movies-filter {
  &__search {
    input {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.1px;
      text-align: center;
      vertical-align: middle;
      width: 100%;
      color: $secondary;
      padding: 6px;
      border: 1px solid #2F2105;
      border-radius: 16px;
      &::placeholder {
        padding-left: 12px;
        text-align: center;
        color: $grey;
      }
    }
  }
  &__title {
    margin-top: 24px;
  }
  &__grid {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    border-radius: 16px;
    border: 1px solid #E6E6E6;
    box-shadow: 0 4px 4px 0 #00000040;
  }
  &__submit {
    margin: 0 auto;
    margin-top: 24px;
  }
  .filter-item {
    display: flex;
    gap: 4px;
  }
}
.movies-sort {
  display: flex;
  gap: 4px;
}
.movie-card {
  padding: 32px 24px;
  border-radius: 16px;
  backdrop-filter: blur(4px);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.7) 100%);
  box-shadow: 0px 6px 16px 0px #00000029;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__image {
    max-width: 400px;
    margin: 0 auto;
    position: relative;
  }
  &__rating {
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 4%;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 16px;
    left: 16px;
    border-radius: 16px;
    background: $white;
    padding: 6px 10px;
    display: flex;
    align-items: center;
    gap: 4px;
    &::after {
      border-radius: 22px;
      content: '';
      position: absolute;
      top: -4px;
      left: -4px;
      width: calc(100% + 8px);
      height: calc(100% + 8px);
      z-index: -1;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.4) 100%);
    }
  }
  &__title {
    margin-top: 24px;
  }
  &__readmore {
    margin-top: 24px;
  }
}
